.vscode/*

.DS_Store
node_modules
/dist

# local env files
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#files to be ignored
src/upload/**/*
src/logs/error.log
src/config/local/*-local.php
src/util/WillSmithTheRouteProtector.php
/wsrp/*
/vendor
composer.lock

#files

docs/phpdoc*
.ssh/*
!.ssh/.gitk*
